doctype html
head
  title Other page
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  link(rel="stylesheet",href="assets/css/styles.css")

.buttons
  button.buttons__item.button.button--small.button--rotate(type='button') Покрутись!
  a.buttons__item.button.button--normal(href='index.html') Главная
  .buttons__item.button.button--big.button--up Попрыгай!
script(type='module' src='assets/js/main.js')
