doctype html
head
  title Other page
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  link(rel="stylesheet",href="assets/css/styles.css")
body
  .progress
    .progress__bar
      span.progress__number 20%
      .progress__current
    button.progress__button.button.button--small.button--run(type='button')
      | Run
    button.progress__button.button.button--reset(type='button')
      | Stop
    a.button.button--small(href='/index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
  script(type='module' src='assets/js/main.js')
